<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wangyeming.plugindemo2">

    <application>
        <!-- 支持插件的最低版本，必须 -->
        <meta-data
            android:name="minPluginSdkApiVersion"
            android:value="1"/>
        <!--支持urls，必须-->
        <meta-data
            android:name="urls"
            android:value="demo2_page1|demo2_page2|demo2_page3|demo2_module"/>
        <!-- 设备处理消息入口，必须 -->
        <meta-data
            android:name="message_handler"
            android:value="com.wangyeming.plugindemo2.PluginMessageReceiver"/>
    </application>

</manifest>